.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-size: 18px;
  
}


.svg-holder {
  margin: 20px;
}

.highlighted {
  background-color: lightpink;
  padding: 10px;
}

.safeChanges {
  color: #1E90FF;
}

.breakChanges {
  color: #DC143C;
}